@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
	margin: 0;
	padding: 0;
	background-color: #464646;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
form{
	margin-top: 20px;
	background-color: #fff;
	padding: 40px 60px;
	border-radius: 10px;
	min-width: 300px;
}

form h1{
	color: #221c9e;
	text-align: center;
}
form .media{
	margin-top: -10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
form .media p{
	padding: 5px;
	margin-left: 10px;
	border: 1px solid #545454;
	border-radius: 100%;
	width: 20px;
	text-align: center;
	cursor: pointer;
}

form p.email{
	text-align: center;
}

form .input{
	display: flex;
	flex-direction: column;
}

form .input input[type="email"], input[type="password"], input[type="text"], input[type="tel"]{
	padding: 15px;
	border-radius: 5px;
	border: none;
	background-color: #f2f2f2;
	margin-bottom: 15px;
	outline: none;
}

form .input select{
	padding: 15px;
	border-radius: 5px;
	border: none;
	background-color: #f2f2f2;
	margin-bottom: 15px;
	outline: none;
}

form p.register{
	font-size: 14px;
	margin-bottom: 20px;
	color: #878787;
}

form p.register span{
	color: #f61f3e;
}

form button{
	padding: 15px 20px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	color: #ffffff;
	background-color: #221c9e;
	outline: none;
	cursor: pointer;
	transition: background 0.5s ;
}
form p.register span a{
	color: #f61f3e;
	text-decoration: none;

}

form p.forget{
	font-size: 14px;
	margin-bottom: 20px;
	color: #878787;
}

form p.forget span{
	color: ##221c9e;
}
form p.forget span a{
	color: #221c9e;
	text-decoration: none;

}

form img.logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  width: 100px;
  height: 100px;
}

/*form img.logo {
    width: 200px !important;
    height: auto !important;
    display: block !important;
    margin: 0 auto !important;
}
*/


form button:hover{
	background: #0851e2;
}

.error {
	background:#f2dede ;
	color: #A94442;
	padding: 10px;
	width: 95%;
	border-radius: 5px ;
	margin: 20px auto ;
}